.company {
	max-width: 320px;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	border-radius: 20px;
	border: 1px solid transparent;
	cursor: pointer;
}

.company img {
	width: 200px;
	height: 80px;
	object-fit: contain;
	filter: brightness(0) invert(100%);
}

.company h3 span {
	color: var(--prim-lighter);
}

.company:hover {
	background: rgba(var(--card-rgb), 0.1);
	border: 1px solid rgba(var(--card-border-rgb), 0.15);
}
