.welcome
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  h1
    zindex: 1
    text-align: center

  span 
    color: var(--prim)




// #root {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
